.slider{
    width: 100%;

    .item{
        width: 100%;
        height: 300px;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
}

.related{
    position: relative;
    padding: 0px !important;

    button{
        height: 100px;
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        color: white;
        background: #7c0505;
        outline: none !important;
        width: 40px;

        &:first-of-type{
            left: 0px;
        }

        &:last-of-type{
            right: 0px;
        }
    }
}

.relatedProducts{
    padding: 20px 0px;

    &_head{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;

        button{
            margin: 0px 2.5px;
            font-size: 25px;
            border: none !important;
            background: #7c0505;
            color: white;
            transition: .3s;
            outline: none !important;

            &:active{
                transform: scale(1.2);
            }
        }
    }
    h1{
        font-family: Extra;
        color: #7c0505;
        border-bottom: 2px solid #7c0505;
        font-size: 25px;
        text-transform: lowercase;
        font-variant: small-caps;
        padding-bottom: 10px;

        @media (max-width:600px){
            font-size: 20px;
            width: 100%;
        }
    }
}

.order{
    background-color: #7c0505;
    padding: 20px;

    h1{
        font-size: 30px;
        font-family: Extra;
        color: white;
        text-transform: lowercase;
        font-variant: small-caps;
    }


    p{
        font-size: 20px;
        color: white;
        text-transform: lowercase;
        font-variant: small-caps;
    }

    &-give{
        display: flex;
        justify-content: space-around;
        margin-top: 30px;

        @media(max-width:767px){
            flex-wrap: wrap;
        }

        input,button{
            height: 60px !important;
            margin: 10px 10px;
        }

        input{
            font-size: 20px;
        }

        button{
            background: black;
            color: white;
            border: none !important;
            outline: none !important;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 70px;

            
            @media(max-width:767px){
                width: 100% !important;
                svg{
                    margin-right: 10px;
                }
            }

            svg{
                font-size: 30px;
            }
        }
    }
}

.subscribe{
    background-color: #7c0505;
    padding: 20px;
    
    h1{
        font-size: 30px;
        font-family: Extra;
        color: white;
        text-transform: lowercase;
        font-variant: small-caps;
    }


    p{
        font-size: 20px;
        color: white;
        text-transform: lowercase;
        font-variant: small-caps;
    }

   .input-group{
       margin: 0px auto;
       
       input,button{
           height: 60px;
           border: none !important;
           font-size: 20px;
           margin: 0px 5px;
       }

       button{
           background: black;
           color: white;
           padding: 0px 20px;
       }
   }
}

.checking{
    background: white;
    padding: 30px;

    h4{
        font-size: 20px;
        font-family: Bold;
        color: #7c0505;
        text-transform: lowercase;
        font-variant: small-caps;
    }

    .form-group{
        margin: 20px 0px;

        
        label{
            font-family: Light;
            font-variant: small-caps;
            text-transform: lowercase;
        }
    }

    input , button{
        height: 50px;
        display: block;
        width: 100% !important;

        &:focus{
            border: 1px solid #7c0505;
        }
    }

    button{
        border: none !important;
        background: #7c0505;
        color: white;
        text-transform: lowercase;
        font-variant: small-caps;
        margin-top: 30px;
        outline: none !important;
    }
}