
.auth-modal{
    background: rgba(0, 0, 0, 0.815);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;


    &.aModalVisible{
        display: flex;
    }

    &-body{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 100px;
        overflow-y: auto !important;

        &::-webkit-scrollbar{
            width: 5px !important;
            background: transparent !important;
        }

        &::-webkit-scrollbar-thumb{
            background: lightgray !important;
            border-radius: 100px;
        }
    }


    label{
        font-variant: small-caps;
        text-transform: lowercase;
    }

    &-toggler{
        width: 600px;
        display: flex;
        align-items: flex-end;
        margin-top: 100px;

        @media(max-width:700px){
            width: 400px;
        }

        
        @media(max-width:420px){
            width: 100%;
        }

        button{
            background: none;
            outline: none !important;
            border: none !important;
            background: #7c0505;
            color: white;
            height: 50px;
            width: 50%;
            margin-top: 100px;
            transition: .4s;

            @media(max-width:420px){
                font-size: 10px;
            }

            &:first-of-type{
                border-radius: 10px 0px 0px 0px;
            }

            &:last-of-type{
                border-radius: 0px 10px 0px 0px;
            }

            &.active{
                background: white;
                color: black;
                z-index: 2;
                height: 60px;
                margin-top: 0px !important;
                position: relative;

                &::before{
                    position: absolute;
                    bottom: -20px;
                    left: 0px;
                    content: "";
                    width: 100%;
                    height: 30px;
                    background: white !important;
                }
            }
        }
    }


    .close{
        position: fixed;
        top: 10px;
        right: 10px;
        background: transparent;
        border: none;
        color: wheat;
        font-size: 50px;
        outline: none !important;
        transition: all .4s;
        width: 70px;
        height: 70px;
        border-radius: 100px;
        padding: 0px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(1px);

        
        @media(max-width:700px){
            font-size: 30px;
            width: 50px;
            height: 50px;
        }

        @media(max-width:420px){
            z-index: 11;
            background: black;
        }

        &:hover{
            background: rgba(49, 49, 49, 0.109);
        }
    }

    &-content{
        width: 600px;
        position: relative;
        border-radius: 0px 0px 10px 10px;
        background-color: white;
        margin-bottom: 100px;



        @media(max-width:700px){
            width: 400px;
        }
        
        @media(max-width:420px){
            width: 100%;
        }

        input{
            height: 50px;
            &:focus{
                border: 1px solid #7c0505;
            }
        }

        .form-group{
            margin: 10px 0px;
        }

        .signin , .signup{
            visibility: hidden;
            padding:20px 30px;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            background: transparent;
            background: white;
            bottom: 0px;
            display: block;

            
            @media(max-width:700px){
                padding: 20px;
            }

            button{
                display: block;
                color: white;
                background: rgb(148, 17, 8);
                width: 100%;
                margin-top: 30px;
                height: 60px;
                text-transform: lowercase;
                font-variant: small-caps;
                font-size: 20px;
                border: none;
                transition: .4s;
                outline: none !important;s

                &:hover{
                    background:  rgb(78, 7, 2);
                }
            }

            &.aVisible{
                visibility: visible;
                z-index: 1;
                position: relative;
                height: auto !important;
            }
        }
    }
}